#pokermagasinet-footer {
	padding: 25px 0;
	color: $footer-text-color;
	font-size: 16px;
	background: $footer-bg-color;
	text-align:center;
	.widget {
		margin:0 0 20px;
	}
	span {
		color:$brand-primary;
		font-weight: 700;
		margin-right:5px;
	}
	.pokermagasinet-contact-link {
		text-align: center;
		a {
			display: inline-block;
			background:url('../images/bg-contact.jpg') no-repeat top left;
			width: 165px;
			height: 46px;
			text-transform: uppercase;
			font-weight: 700;
			color: $secondary;
			line-height: 46px;
			text-align: left;
			text-indent: 14px;
			margin-bottom: 20px;
			
			&:hover {
				color:#fff;
			}
		}
	}
}