#pokermagasinet-header {
	
	background: $header-bg-color;
	
	.navbar-brand {
		height: auto;
		padding: 0px 0px;
		margin: 0 auto;
		display: block;
		text-align: center;
		> img {
			display: inline;
		}

	}
	
	.navbar-header {
		text-align: center;
		margin: 5px auto;
	}

}
.sticky-wrapper {
	position: relative;
	z-index: 2; 
	&.is-sticky #pokermagasinet-header {
		z-index: 9; 
		box-shadow: 0 4px 6px rgba(0,0,0,0.3);
	}
}

.navbar-toggle {
	margin-right: 0;
	margin-top: 26px;
	border-color: white;
	.icon-bar {
		background: white;
		
	}
}

@include desktop {
	#pokermagasinet-header {
		background:url('../images/bg-header.jpg') repeat-x top center;
		.navbar-header  {
			float: none;
		}
	}
}
@include md_tablet {
	#pokermagasinet-header {
		.navbar-brand {
			padding: 10px 0;
			max-width: 100px;
			> img {
				display: block;
			}
		}
		
	}
	.navbar-toggle {
		margin-top: 10px;
		display: block;
	}
	.logo {
		padding-left: 0;
	}
}

